<!DOCTYPE html>
<html>
<head>
    <title>Cãonecta</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/908910519c.js" crossorigin="anonymous"></script>
    <style>
        body{
            font-family: 'Poppins', sans-serif;
            overflow:scroll;
        }
        @media (min-width: 1025px) {
            body {
                overflow: hidden;
            }
        }
    </style>
</head>
<body class="bg-gradient-to-r from-sky-500 to-indigo-500">
    <div id="pagina-init" style="display: block;" class="flex flex-col lg:flex-row gap-10 px-10">
        <div class="flex flex-wrap h-screen">
            <div class="mt-56">
                <img src="{{url_for('static', filename='logo1.png')}}" alt="" class="w-56 absolute top-5 left-5">
                <h2 class="text-2xl lg:text-3xl portrait:text-5xl text-gray-100 mb-10 lg:mb-4 font-bold">Procurando um petshop <br> pra cuidar do seu <span style="color: #74cb90;">melhor amigo?</span></h2>
                <p class="text-xl lg:text-md portrait:text-3xl text-gray-100 mb-8 font-light">Veio ao lugar certo! Vamos farejar os melhores locais da região</p>
                </p>
                <button id="ini" class="border-2 text-xl lg:text-md portrait:text-5xl px-6 py-2 bg-sky-300 hover:bg-sky-400 duration-200 rounded-xl mt-10"><i class="fa-solid fa-paw mr-2"></i>Vamos lá!</button>
            </div>
            <img src="{{url_for('static', filename='dog1.png')}}" alt="" class="w-screen lg:w-5/12 portrait:w-screen landscape:w-5/12 ml-auto mt-auto">  
        </div>
    </div>

    <div id="inputs" style="display: none;" class="flex flex-col lg:flex-row gap-10 px-10 pt-10">
        <div class="flex flex-wrap h-screen">
            <div>
                <h2 class="text-2xl lg:text-2xl portrait:text-5xl text-gray-100 mb-12 font-bold">Primeiro, coloque o dia que quer reservar:</h2>
                <label for="data" class="text-2xl lg:text-xl portrait:text-5xl mr-2 text-gray-100 mb-4"><i class="fa-regular fa-calendar mr-2"></i>Data:</label>
                <input type="date" name="data" id="data" class="text-2xl lg:text-xl portrait:text-5xl text-gray-700 border-2 rounded-xl">
                <div id="seg-part" style="display: none;" class="mt-4">
                    <h2 class="text-2xl lg:text-2xl portrait:text-5xl text-gray-100 mt-20 portrait:mb-20 landscape:mb-4 font-bold">Agora a quantidade de cães:</h2>
                    <label for="cgrandes" class="text-2xl lg:text-xl portrait:text-5xl text-gray-100 mb-10"><i class="fa-solid fa-dog mr-2 fa-xl"></i>Cachorros Grandes:</label>
                    <input type="number" name="cgrandes" id="cgrandes" class="text-2xl lg:ml-2 px-4 lg:text-xl portrait:text-5xl portrait:mb-20 landscape:mb-4 lg:mb-4 text-gray-700 border-2 rounded-xl mt-10 w-6/12">
                    <br>
                    <label for="cpequenos" class="text-2xl lg:text-xl portrait:text-5xl text-gray-100 mb-10"><i class="fa-solid fa-dog mr-2"></i>Cachorros Pequenos:</label>
                    <input type="number" name="cpequenos" id="cpequenos" class="text-2xl lg:ml-2 px-4 lg:text-xl portrait:text-5xl mb-4 text-gray-700 border-2 rounded-xl mt-10 w-6/12">
                    <br>
                    <button id="btn" class="text-xl lg:text-md portrait:text-5xl border-2 px-6 py-2 bg-gray-400 duration-200 rounded-xl mt-16"><i class="fa-solid fa-paw mr-2"></i>Encontrar!</button>
                </div>
            </div>
            <img src="{{url_for('static', filename='dog4.webp')}}" alt="" class="w-screen lg:w-5/12 portrait:w-screen landscape:w-5/12 ml-auto mt-auto">
        </div>
    </div>


    <div id="outputs" style="display: none;" class="mt-10 mx-20">
        <h1 class="text-center text-2xl lg:text-2xl portrait:text-5xl text-gray-100 mb-24 font-bold">Encontramos o PETSHOP <span style="color: #74cb90;">PUUURFeito</span> para você!</h1>
        <div class="flex flex-wrap flex-col h-screen">
            <div class="p-6 bg-gray-100 shadow-xl rounded-xl ml-0 mr-auto w-full">
                <div class="flex flex-row gap-1 mb-5 text-center lg:text-left"><p class="text-3xl lg:text-xl">Nome: <p id="petshop-nome" class="text-3xl lg:text-xl"></p></p></div>
                <div class="flex flex-row gap-1 mb-5 text-center lg:text-left"><p class="text-3xl lg:text-xl">Valor: <p id="petshop-valor" class="text-3xl lg:text-xl"></p></p></div>
                <div class="flex flex-row gap-1 mb-5 text-center lg:text-left"><p class="text-3xl lg:text-xl">Distância: <p id="petshop-dist" class="text-3xl lg:text-xl"></p></p></div>
                <div class="flex flex-row gap-1 mb-5 text-center lg:text-left"><p class="text-3xl lg:text-xl">Data: <p id="petshop-dia" class="text-3xl lg:text-xl"></p></p></div>
                <div class="flex flex row gap-10">
                    <button id="na" class="w-6/12 border-2 text-3xl lg:text-xl px-6 py-2 bg-sky-300 hover:bg-sky-400 duration-200 rounded-xl mt-10"><i class="fa-solid fa-phone mr-2"></i>Entre em contato!</button>
                    <button id="ret" class="w-6/12 border-2 text-3xl lg:text-xl px-6 py-2 bg-sky-300 hover:bg-sky-400 duration-200 rounded-xl mt-10"><i class="fa-solid fa-paw mr-2"></i>Nova pesquisa</button>
                </div>
            </div>
            <img src="{{url_for('static', filename='dog3.webp')}}" alt="" class="w-screen lg:hidden portrait:w-screen landscape:hidden ml-auto mt-auto">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>
